<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Bank</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Bank:</h1>



<form action="#" th:action="@{addBank/submit}"
      th:object="${bankView}" method="POST">
    <div class="form-group">
        <label>Наименование</label>
        <input type="text" class="form-control" th:field="*{name}"/>
    </div>

    <div class="form-group">
        <label>Бик</label>
        <input type="number" th:field="*{bik}"/>
    </div>

    <div class="form-group">
        <label>Счет</label>
        <input type="number" th:field="*{account}"/>
    </div>
    <button type="submit">Сохранить</button>
</form>
</body>
</html>